.image {
    width: 70px;
}

.table > tbody > tr > * {
    vertical-align: middle;
}

.card {
    vertical-align: middle;
}

.text {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
